Package: python-leap.common
Source: leap-common
Version: 0.2.3-dev1
Architecture: all
Maintainer: Micah Anderson <micah@debian.org>
Installed-Size: 234
Depends: python (>= 2.7), python (<< 2.8), python-jsonschema, python-xdg, python-protobuf, python-protobuf.socketrpc, python-openssl, python-dateutil, python-autopep8, python-gnupg
Section: python
Priority: optional
Description: Common python files needed by LEAP projects.
 This package contains common python functions that are needed
 for the LEAP Client project
